@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    user-select: none;
    -webkit-user-drag: none
}

html {
  scroll-behavior: smooth;
}

body {
    background: #161c20 !important;
}

a {
    text-decoration: unset !important;
}

.cover-container {
    max-width: 42em;
}

div > header > img {
    max-width: 60%;
    height: 90%;
}

.form-control {
    border-radius: 20px 0 0 20px !important;
    color: white !important;
    border: none !important;
    background-color: rgb(57 62 65) !important;
    padding: 0.5rem 1.3rem !important;
    line-height: 1.6;
}

.form-control::placeholder {
    color: white !important;
}

@media screen and (max-width: 500px) {
    button#submit,
   .form-control {
        border-radius: 10px !important;
    }

    .form-control::placeholder {
        text-align: center
    }
}

.btn {
    border: none !important;
    background-image: linear-gradient(235deg, #DA22FF -20%, #3f5efb 80%);
    padding: 0.5rem 1.5rem !important;
}

#submit {
    border-radius: 0 10px 10px 0 !important;
}


svg {
    transform: scale(1.2);
}

.social-media {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.15);
}
