@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    -webkit-user-drag: none
}

html {
    scroll-behavior: smooth;
}

body {
    background: #161c20 !important;
}

a {
    text-decoration: unset !important;
}

p {
    text-align: left;
}

.cover-container {
    max-width: 42em;
}

div>header>img {
    max-width: 60%;
    height: 90%;
}

.form-control {
    color: white !important;
    border: none !important;
    background-color: rgb(57 62 65 / 35%) !important;
    padding: 0.5rem 1.3rem !important;
    border-top: 1px solid #495057 !important;
    border-bottom: 1px solid #495057 !important;
}

.form-control::placeholder {
    color: white !important
}

.form-control:focus {
    border-color: #495057 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #495057 !important
}


.results {
    color: #9ab8ff
}


button.btn.btn-outline-secondary.dropdown-toggle,
button.btn.btn-outline-secondary {
    background: #393e41;
    color: white;
    border: 1px solid #495057 !important;
}

button.btn.btn-outline-secondary.dropdown-toggle:hover,
button.btn.btn-outline-secondary:hover {
    background: rgb(57 62 65 / 75%);
}

span.input-group-text.input-group-text-dark {
    background: #393e41;
    color: #adb5bd;
    border: 1px solid #495057;
}

.dropdown-item {
    cursor: pointer;
}

.social-media {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.15);
}
